<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @astronauts.each do |a| %>
      <p><%= a.name %></p>
      <p><%= a.age %></p>
      <p><%= a.job %></p>
    <% end %>
  </body>
</html>
